<html>
    <head>
        <title>
            Apply Online
        </title>
        <link rel='stylesheet' href='/static/CSS/style.css' >
    </head>
    <body>
        <div class='h1'>
            <h1>Apply Online</h1>
        </div>
        <form method='post'>
            {% csrf_token %}
            <div class='main'>
                <h2>
                    Personal Information
                </h2>
                    <label>Name</label>
                    <input type='text' name='name' autocomplete='off' />
                    <label>Father Name</label>
                    <input type='text' name='fname' autocomplete='off' />
                    <label>CNIC</label>
                    <input type='text' name='cnic' autocomplete='off' />
                <br/>
                    <label>DOB</label>
                    <input type='date' name='dob' autocomplete='off' />
                    <label>Blood Group</label>
                    <select name='blood'>
                        <option>- Select blood group -</option>
                        <option>A+</option>
                        <option>A-</option>
                        <option>B+</option>
                        <option>B-</option>
                        <option>AB+</option>
                        <option>AB-</option>
                        <option>O+</option>
                        <option>O-</option>
                    </select>
                    <label>Gender</label>
                    <select name='gender'>
                        <option>- Select Gender -</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Custom</option>
                    </select>
                <br/>
                    <label>Contact No.</label>
                    <input type='text' name='contact' autocomplete='off' />
                    <label>Email</label>
                    <input type='email' name='email' autocomplete='off' />
                    <label>Age</label>
                    <input type='text' name='age' autocomplete='off' />
                <br/>
                    <label>Temporary Address</label>
                    <input type='text' name='taddress' autocomplete='off' />
                    <label>Permanent Address</label>
                    <input type='text' name='paddress' autocomplete='off' />
            </div>
    
            <br/><br/>
    
            <div class='main'>
                <h2>
                    Education Details
                </h2>
                    <h3>Intermediate</h3>
                        <div>
                            <label>Obtained Marks</label>
                            <input type='text' name='iomarks' autocomplete='off' />
                            <label>Total Marks</label>
                            <input type='text' name='itmarks' autocomplete='off' />
                            <label>Percentage</label>
                            <input type='text' name='iper' autocomplete='off' />
                        </div>
                    <h3>Matriculation</h3>
                        <div>
                            <label>Obtained Marks</label>
                            <input type='text' name='momarks' autocomplete='off' />
                            <label>Total Marks</label>
                            <input type='text' name='mtmarks' autocomplete='off' />
                            <label>Percentage</label>
                            <input type='text' name='mper' autocomplete='off' />
                        </div>
            </div>
                    <button type='submit' name='button' class='btn' id='bttn'>Go To Application</button>
    
        </form>              
        <script src='/static/JS/script.js'></script>
    </body>
</html>